@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}
.kozepmenu {
    padding-top: 15vh;
    width: 90vw;
    height: 567px;
    margin-left: auto;
    margin-right: auto; 
}

.button{
    float: left;
    background-repeat: no-repeat;
    background-size: 20vw; 
    margin: 1vw;
    text-decoration: none;
    color: white;
    font-size: 35px;
    box-shadow: none;
    width: 20vw;
    height: 20vh;
    transition: all 0.3s ease-in-out;
} 
.h2{
    margin-top: 10vh;
    color: white;
    font-size: 2em;
    margin-left: 25px;
}
.text {
    text-align: center;
    width: 20vw;
    height: 20vh;
    padding-top: 4vh;
}
.shadow {
    float: left;  
    margin: 1vw;
    text-decoration: none;
    color: black;
    font-size: 32px;
    box-shadow: none;
    width: 20vw;
    height: 20vh;
}
.button:hover {
    transform: scale(1.1);
    background-position: center;
} 
.keszitette{
    margin-top: 20vh;
    font-size: 2em;
    color: white;
    text-align: center;
}


/*pages*/
body {
    background-color: #3f3f3f;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.tartalom {
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.cim {
    margin-top: 0;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
    color: white;
    font-weight: 600;
}

.szoveg {
    color: white;
    font-size: 1.2em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10vh;
    margin-top: 5vh;
    text-align: justify;
    line-height: 3vh;
}

.image1 {
    float: left;
    margin-right: 1vw;
    height: 30vh;
}

.image2 {
    float: right;
    margin-left: 1vw;
    height: 30vh;
}
.gomb {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
    text-align: center;
    float: left;
}
.menu{
    overflow: hidden;
    background-color: rgb(46, 46, 46);
}
#home{
    background-color: #2abd50;
}
#selected{
    padding-top: 9px;
    border-bottom: 5px solid #2abd50;
}
.forras{
    float: right;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10vh;
    text-align: justify;
    line-height: 3vh;
}