@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #3f3f3f;
    margin: 0;
    /* background-image: url("../img/aggtelek-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Roboto', sans-serif;
}

.tartalom {
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.cim {
    margin-top: 0;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
    color: white;
    font-weight: 600;
}

.szoveg {
    color: white;
    font-size: 1.2em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10vh;
    text-align: justify;
    line-height: 3vh;
}

.image1 {
    float: left;
    width: 15vw;
    margin-right: 1vw;
}

.image2 {
    float: right;
    width: 15vw;
    margin-left: 1vw;
}
.gomb {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
    text-align: center;
    float: left;
}
.menu{
    overflow: hidden;
    background-color: #333;
}
#home{
    background-color: #2abd50;
}
.also{
    position: absolute;
    background-color: #2abd50;
    width: 150px;
    height: 5px;
    float: left;
    top: 53px;
    left: 1067px
}